.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 15vw;
  height: 100%;
  z-index: 99999;

  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
