{
    "presets": ["react", "env"],
    "plugins": [
        [
            "react-intl",
            {
                "messagesDir": "./build/messages",
                "enforceDescriptions": false
            }
        ]
    ]
}