.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
body {
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body,
#root {
  height: 100%;
}

.App {
  position: relative;
  margin: 0 auto;
  height: 100%;
  transition: 0.1s ease-in-out;
}

.App.shift-right {
  margin-left: 250px;
  height: 100%;
  transition: 0.2s ease-in-out;
}

.main-content {
  position: relative;
  flex-grow: 1;
}

.Footer {
  font-style: italic;
  font-size: 0.8em;
  position: relative;
  text-align: center;
  margin: auto;
  flex-grow: 0;
}
