body {
  background-color: #FFFFFF;
}

html {
  font-size: 16px;
  --easing-accelerate: 0.15s cubic-bezier(0.4, 0, 1, 1);
  --easing-decelerate: 0.2s cubic-bezier(0, 0, 0.2, 1);
  --easing-standard: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  --easing-slower: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

html,
body,
#root {
  height: 100%;
}

a {
  outline: none;
}
